@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Cloud is the future</h1>
    <p class="lead">Example Teest .NET app to Azure App Service.</p>
</div>
